{{> nav/nav-bar home-active=true}}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Fluid jumbotron</h1>
    <p class="lead">Home Page</p>
  </div>
</div>

<div id="articles-div">
  {{#if articles}}
    {{#each articles}}
      <div class="card">
        <div class="card-header">
          <a href={{ this.link }} target="_blank"><h5 id="article-title">{{ this.headline }}</h5></a>
          <button class="article-save-btn btn btn-success" data-id={{ this._id }}>Save Article</button>
        </div>
        <div class="card-body">
          <p class="card-text">{{ this.summary }}</p>
        </div>
      </div>

      <br>
    {{/each}}
  {{ else }}
    <div class="card">
      <div class="card-header">
        <h5 id="article-title">No Articles Found</h5>
      </div>
      <div class="card-body">
        <p class="card-text">No articles were found in the database.  Try scraping for new articles.</p>
      </div>
    </div>
  {{/if}}
</div>

<!-- Modal -->
<div class="modal fade" id="articlesAddedModal" tabindex="-1" role="dialog" aria-labelledby="articlesAddedModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="articlesAddedModalLabel">New Articles</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span id="articles-added"></span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>