<!-- Page for saved articles -->
{{> nav/nav-bar saved-active=true}}

<div class="jumbotron jumbotron-fluid gizmodo-bg">
  <div class="container">
    <h1 class="display-4">GIZ<span class="headlines-text">Headlines</span></h1>
    <h3>(A Gizmodo Scraper)</h3>
    <p class="lead">Saved Articles</p>
  </div>
</div>

<div id="saved-articles-div">
  {{#if articles}}
    {{#each articles}}
      <div class="card">
        <div class="card-header">
          <a href={{ this.link }} target="_blank"><h5 id="article-title">{{ this.headline }}</h5></a>
          <button class="article-notes-btn btn btn-warning" data-id={{ this._id }}>Article Notes</button>
          <button class="article-delete-btn btn btn-info" data-id={{ this._id }}>Delete From Saved</button>
        </div>
        <div class="card-body">
          <p class="card-text">{{ this.summary }}</p>
        </div>
      </div>

      <br>
    {{/each}}
  {{ else }}
    <div class="card">
      <div class="card-header">
        <h5 id="article-title">No Articles Found</h5>
      </div>
      <div class="card-body">
        <p class="card-text">There are no saved articles.</p>
      </div>
    </div>
  {{/if}}
</div>

<!-- Modal for Notes -->
<div class="modal fade" id="articleNotesModal" tabindex="-1" role="dialog" aria-labelledby="modal-title" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal-title">Notes for article</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="article-notes" article-id=""></div>
        <div>
          <textarea class="form-control" id="note-text" placeholder="New Note"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button id="save-note-btn" type="button" class="btn btn-success" data-dismiss="modal">Save Note</button>
      </div>
    </div>
  </div>
</div>

